<h1>Listing Articles</h1>
<p>
	<%= link_to 'Create New Article', new_article_path %></p>
</p>
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>

	<% @articles.each do |t| %>
		<tr>
			<td> <%= t.title %></td> 
			<td> <%= t.description %></td>
			<th> <%= link_to 'delete', article_path(t), method: :delete, data: {confirm: 'Are You Sure'} %> </th>
			<th> // <%= link_to 'edit', edit_article_path(t) %> // </th>
			<th> <%= link_to 'showing article', article_path(t) %></th>
		</tr>
	<%end%>
</table>